@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);

#header-container
{
	position: fixed;
	line-height: 23px;
	font-weight: 500;
	background-color: #ffffff;
	width: 100%;
	top: 0;
	padding: 18px 0 0 0;
	z-index: 99999;
	color: rgba(0, 0, 0, 0.5);
	display: block;
	height: 80px;
	margin-bottom: 20px;
	
	min-height: 42px;
}
.h-logo
{
	height: 80px;
	width: auto;
	margin-top: -28px;
}
#header-container.smaller
{
	height: 42px;
}
#header-container.smaller #header
{
	margin-top: -15px;
}
#header-container.smaller .h-logo
{
	margin-top: -17px;
	height: 50px;
}
#header
{
	text-align: left;
	margin: 0 auto;
	width: 1080px;
	position: relative;
	min-height: 42px;
}
#top-menu
{
	float: left;
	list-style: none;
}
#top-menu-nav
{
	padding-top: 10px;
	float: left;
}
#top-menu li
{
	display: inline-block;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	transition: .5s all ease-in-out;
	padding-right: 22px;
}
#top-menu li a
{
	color: rgba(0, 0, 0, 0.5);
	transition: .5s all ease-in-out;
	font-weight: 700;
}
#top_search
{
	float: right;
	margin: 8px 0 0 0px;
	position: relative;
	display: block;
	width: 18px;
	font-size: 17px;
}
#top-menu li a:hover
{
	color: rgba(0, 0, 0, 1);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,	 a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-family: 'Roboto', sans-serif;
	transition: all 0.5s ease-in-out;

vertical-align: baseline;
}
a
{
	text-decoration: none;
	color: #F44336;
}
#header-top-nav
{
	float: right;
}
body
{
	/*height: 1920px;*/
}
.body-container
{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	margin-top: 120px;
}
.blog-columns
{
	min-height: 100px;
	position: relative;
}
.column-3
{
	float:left;
	width: 33%;
	position: relative;
	
}
.column-3:hover
{
	
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
h1
{
	font-size: 60;
	font-weight: 400;
	text-align: center;
	text-decoration: bold;
}
.blog-image {
	width: 100%;
	height: 100%;
}
.greyness {
	background-color: #2E2E2E;
}
.dark-body {
	text-decoration: bold;
	font-weight: 300;	
	color:#C8C8C8;
	text-align: center;
}
h2 {
	text-align: center;
	color:#FFFFFF;
}
h3 {
	text-align:center;
	color:#131313;
}
.light {
	background-color: #E8E8E8;
}
.darkp {
	text-decoration: bold;
	font-weight: 300;	
	color:#191919;
	text-align: center;
}
#sect1
{
	background-color: #D32F2F;
}
#sect1 h6 {
position: relative;
font-weight: normal;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
color: #f7f5f5;
}
#sect2
{
	background-color: #f7f5f5;
}
#sect2 h6 {
position: relative;
font-weight: normal;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
color: #D32F2F;
}
#sect2 sub {
color: #D32F2F;
}
#sect3 h6 {
position: absolute;
font-weight: normal;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
width: 100%;
text-align: center;
z-index:869;
color: #f7f5f5;
}
h6 {
line-height: 1.1em;
font-weight: normal;
margin-top: 0%;
letter-spacing: .01em;
font-family: 'Roboto', sans-serif;
font-size: 160px;
text-align: center;
margin-left: auto;
margin-right: auto;
width: 80%;
}
.full
{
	width: 100%;
	height: auto;
}